.follow-button, .unfollow-button {
    width: 50px;
    font-size: 20px;
}

.follow-button {
    background-color: white;
    border:2px solid gold;
    color: gold;
}

.follow-button:hover{
    background-color: gold;
    color: white;
    border: 2px solid white;
}

.unfollow-button {
    background-color: gold;
    border: 2px solid white;
}

.unfollow-button:hover{
    background-color: white;
    border:2px solid gold;
    color: gold;
}