.follow-button, .unfollow-button {
    width: 50px;
    font-size: 20px;
    border: 2px solid var(--form-background);
}

.follow-button {
    background-color: white;
    color: gold;
}

.follow-button:hover{
    background-color: gold;
    color: white;
}

.unfollow-button {
    background-color: gold;
    color: white;
}

.unfollow-button:hover{
    background-color: white;
    color: gold;
}