.register-form, .login-form {
    max-width: 95%;;
    background-color: var(--form-background);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: none;
    border-radius: .15cm;
    text-align: start;
}

.register-form-title, .login-form-title {
    margin-top: 0px;
    text-align: center;
}

.register-form-input, .login-form-input {
    margin: 0px 20px 25px 0px;
    font-size: 18px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: .15cm;
}

.register-form-label, .login-form-label{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px 10px 0px;
}

.register-form-button, .login-form-button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: .15cm;
    font-size: 20px;
    /* padding-bottom: 5px; */
}

.register-form-button:hover, .login-form-button:hover{
    cursor: pointer;
    background-color: #92caf0;
}

