.pick-list-group {
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.pick-header {
    font-size: 22px;
}

.pick-loser {
    background-color: rgba(255, 0, 0, 0.150);
    border: 2px solid red;
}

.pick-bad-value, .pick-loss-text {
    color: red;
}

.pick-pending {
    background-color: hsla(0, 0%, 50%, 0.151);
    border: 2px solid gray;
}

.pick-winner {
    background-color: rgba(0, 128, 0, 0.150);
    border: 2px solid green;
}

.pick-good-value, .pick-win-text {
    color: green
}
