.team-details {
    width: 95%;
}

.team-details-header {
    background-color: var(--form-background);
    border-radius: .15cm;
}

.team-details-logo{
    width: 30%;
}

a {
    text-decoration: none;
}

.team-details-calendar-container {
    height: 660px;
    background-color: #5D6D7E;
}

.team-details-calendar-container > button {
    color: white;
}

#team-details-tabs-tab-roster.nav-link, #team-details-tabs-tab-recentGames.nav-link, #team-details-tabs-tab-allGames.nav-link {
    color: white;
    font-size: 18px
}

#team-details-tabs-tab-roster.nav-link.active, #team-details-tabs-tab-recentGames.nav-link.active, #team-details-tabs-tab-allGames.nav-link.active {
    font-weight: bold;
    color: black;
    background-color: var(--sort-color);
}

#team-details-tabs-tabpane-roster{
    border: 2px solid grey;
    border-collapse: collapse;
    max-width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 693px){
    .team-details-recent-games {
        margin-top: 25px;
    }
}