.team-games-card-win {
    border: 3px solid green;
}

.team-games-card-loss {
    border: 3px solid red;
}

.team-games-logo{
    width: 90px;
    height: auto;
}

.team-games-logo:hover, .team-games-card-body{
    cursor: pointer;
}

.team-games-recent-games, .team-games-next-games{
    width: 100%;
    margin: auto;
}

.team-games-card {
    min-width: 300px;
    max-width: 450px;
    height: 250px;
}

a {
    text-decoration: none;
}

.team-games-score {
    font-family: 'Oxanium', sans-serif;
    font-weight: 600;
}