button.community-pick{
    min-width: 160px;
    max-width:200px;
    min-height: 160px;
    background-color: white;
    color: var(--background-color)
}

.community-pick-stack {
    height: 100%;
}

.community-pick-user {
    position: absolute;
    bottom: 0px;
}