.NewPickButton {
    position: fixed;
    top: calc(100vh - 85px);
    left: calc(100vw - 90px);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 99;
}

.NewPickButton-icon {
    position: relative;
    right: 1.5px;
    bottom: 2px;
    font-size: 25px;
}