.pick-form-pick-details-stack {
    width: 70%;
    border: 2px solid #dce0e8;
}

.pick-form-pick-details-header {
    font-size: 22px;
    text-decoration: underline;
}

.pick-form-pick-details {
    font-weight: 600;
    color: black;
}

input.select-search-input {
    width: 100%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}