.gamecard {
    width: 650px;
}

.gamecard-logos-row {
    width: 110%;
    padding-right: 0;
}

.gamecard-logos-container {
    width: 100%;
    margin-right: 0;
}

.gamecard-score, .gamecard-clock {
    font-family: 'Oxanium', sans-serif;
}

.gamecard-clock {
    font-weight: 400;
}

.gamecard-score {
    font-weight: 600;
}

.gamecard-logo {
    width: 125px;
    height: 125px;
}

.gamecard:hover {
    cursor: pointer;
}
