.gamecard {
    width: 650px;
}

.gamecard-logos-row {
    width: 110%;
    padding-right: 0;
}

.gamecard-logos-container {
    width: 100%;
    margin-right: 0;
}

.gamecard-score, .gamecard-clock {
    font-family: 'Oxanium', sans-serif;
}

.gamecard-clock {
    font-size: 20px;
    font-weight: 400;
}

.gamecard-score {
    font-size: 22px;
    font-weight: 600;
}

.gamecard-logo {
    width: 125px;
    height: auto;
}

.gamecard:hover {
    cursor: pointer;
}

@media only screen and (max-width: 991px){
    .gamecard {
        width: 85vw;
    }
}

@media only screen and (max-width: 599px){
    .gamecard-logo {
        width: 75px;
        height: auto;
    }

    .gamecard-team {
        font-size: 15px;
    }

    .gamecard-clock {
        font-size: 16px;
    }
    
    .gamecard-score {
        font-size: 20px;
    }
}
