.game-details {
    width: 95%;
}

.game-details-top-performers {
    max-width: 100%;
    overflow-x: scroll;
}

.game-details-player-game-stats-table {
    max-width: 100%;
    overflow-x: scroll;
    border: 2px solid #dee2e6;
}

.game-details-player-link {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.game-details-clock, .game-details-score {
    font-family: 'Oxanium', sans-serif;
}

.game-details-clock {
    font-weight: 400;
}

.game-details-score {
    font-weight: 600;
}

.game-details-header-date {
    font-size: 20px;
}

.game-details-picks {
    background-color: var(--form-background);
}

#game-details-tabs-tab-top.nav-link, #game-details-tabs-tab-matchup.nav-link, #game-details-tabs-tab-h2h.nav-link, #game-details-tabs-tab-boxscore.nav-link {
    color: white;
    font-size: 18px
}

#game-details-tabs-tab-top.nav-link.active, #game-details-tabs-tab-matchup.nav-link.active, #game-details-tabs-tab-h2h.nav-link.active, #game-details-tabs-tab-boxscore.nav-link.active {
    font-weight: bold;
    color: black;
    background-color: var(--sort-color);
}

.game-details-top-performers {
    border: 2px solid #dee2e6
}

@media only screen and (max-width: 599px){
    button#game-details-tabs {
        min-height: 130px;
    }
}