#player-game-stats-table-sorted-col {
    background: var(--sort-color);
    font-weight: bold;
    color: var(--background-color);
}

tr:hover td#player-game-stats-table-col, #player-game-stats-table-sorted-col, .player-game-stats-table-first-box {
    font-weight: bold;
    --bs-table-hover-color: var(--background-color);
    --bs-table-hover-bg: var(--sort-color);
  }

.player-game-stats-table-vs-stack {
    font-weight: 500;
    min-width: 65px;
}

.player-game-stats-table-category-header:hover, .player-game-stats-table-first-box:hover { 
    cursor: pointer;
}

.player-game-stats-table-first-box {
    height: 40px;
}

.player-game-stats-table-player-box {
    border-right: 2px solid #dee2e6;
    height: 35px;
    text-align: center;
    font-weight: 500;
}

@media only screen and (max-width: 599px){
    .player-game-stats-table-first-box {
        font-size: 14px;
    }
}