.player-stats-card-metric-button {
    margin: 5px 5px 5px 5px;
    height: 22px;

    font-size: 10px;
}

.player-stats-card-player-row:hover, .player-stats-card-player-row > td:hover {
    cursor: pointer;
}

.player-list-cards-container {
    width: 90%;
}

.player-list-date-picker {
    width: 250px;
}
