.player-stats-card-table {
    margin-bottom: 0;
    min-width: 350px;
    max-width: 500px;
    border: 2px solid var(--bs-border-color-translucent);
}

.player-stats-card-title {
    font-size: 20px;
    font-weight:500;
}

.player-stats-card-title, .player-stats-card-metric-button-row {
    background-color: var(--form-background);
}

span.player-stats-card-value {
    font-weight: bold;
}

.player-stats-card-player:hover {
    cursor: pointer;
}



